// Typography
$font-family-main: "Nanum Gothic", sans-serif;
$font-family-headings: "Nanum Gothic", sans-serif;
$font-size: 1em;

// Padding
$padding-large: 20%;
$padding-small: 3%;
$padding-b-small: 1%;
$padding-x-small: 3%;

// Brand colours
$social-color: #8d8c8c;
$brand-color: rgba(0, 0, 0, 0.089);
$background-color: rgba(0, 0, 0, 0.897);
$border-color: rgb(66, 66, 66); // rgba recommended if using feature images

// Typography colours
$text-color: #a1a1a1;
$link-color: #a3a2a2;
$selection-color: #474747; // visible when highlighting text

// Tags color
$tags-color: #4d4d4d;

//Search color
$search-color: rgb(143, 143, 143);

// Header colours
$header-link-color: #686868;
$header-brand-color: #fffefe;

// Feature image for articles
$feature-image-text-color: rgb(0, 0, 0);
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: rgb(26, 26, 26);
$header-desc-text-color: #818181;
$header-desc-link-color: #ffffff;

